$mainColor: #1493ff;
$black: #393939;
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

@mixin media($minmax, $media) {
    @each $size, $resolution in $sizes {
        @if $media == $size {
            @media only screen and (#{$minmax}-width: $resolution) {
                @content;
            }
        }
    }
}

body {
    background-color: lightgray;
}

main {
    .ant-form {
        width: 100%;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        .ant-input {
            padding: 15px;
            font-size: 12px;
            border-radius: 5px;
        }
        .ant-btn-primary {
            background: $mainColor;
            border-color: $mainColor;
            font-weight: bold;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            max-width: 245px;
        }
    }
}

.modalx {
    .ant-modal-content {
        border-radius: 5px;
        width: 600px;
        @include media("max", "md") {
            width: 100%;
        }
    }
    .ant-modal-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $black;
        .ant-modal-title {
            color: #fff;
        }
    }
    .ant-modal-close-x svg {
        fill: #fff;
    }
    .ant-input {
        padding: 15px;
        font-size: 12px;
        border-radius: 5px;
    }
    .ant-checkbox-wrapper {
        padding-bottom: 10px;
    }
    .ant-btn-primary {
        background: $mainColor;
        border-color: $mainColor;
        font-weight: bold;
        width: 320px;
        height: 40px;
        border-radius: 5px;
        @include media("max", "md") {
            width: 100%;
        }
    }
}
